html, body {
  overflow: auto;
}

body {
  margin: 0px;
}

#yellow_bg {
  display: block;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: #EEE8AA;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 1px #00000066;
  min-width: 1000px;
}

#grid {
  display: grid;
  grid-template-columns: 10px 2fr 9fr 3fr 10px;
  grid-template-rows: 10px 100px 10px 500px auto 10px;
}

#logoDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#logo {
  max-height: 87px;
}

#tfeDiv {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
}

#tfeText {
  color: blue;
  font-size: 60px;
  font-family: "Segoe UI";
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#naam_formDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#uitlogSubmit {
  margin-left: 10px;
  width: 110px;
  height: 30px;
}

#bigFormDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1px auto 1px auto 1px auto 1px auto;

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}

#line1 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#line2 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#line3 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#line4 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#locatieDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#locatieInfo {
  display: flex;
  text-align: center;
  justify-content: center;
}

#productDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#medewerkerDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lastDiv_overzichtVenster {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}
