html, body {
  overflow: auto;
}

body {
  margin: 0px;
}

#yellow_bg {
  display: block;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: #EEE8AA;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 1px #00000066;
  min-width: 1000px;
  max-width: 1200px;
}

#grid {
  display: grid;
  grid-template-columns: 10px 2fr 9fr 3fr 10px;
  grid-template-rows: 10px 100px 10px 500px auto 10px;
}

#logoDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#logo {
  max-height: 87px;
}

#tfeDiv {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
}

#tfeText {
  color: blue;
  font-size: 60px;
  font-family: "Segoe UI";
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#naam_formDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#uitlogSubmit {
  margin-left: 10px;
  width: 110px;
  height: 30px;
}

#bigFormDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1px auto 1px auto 1px auto 1px auto;

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}

#line1 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#line2 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#line3 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#line4 {
  border: 1px solid #707070;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#locatieDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px auto 105px 105px 140px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#locatieInfo {
  display: flex;
  text-align: center;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  font-family: "Segoe UI";
  font-size: 18px;
}

#locatieAddDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 24px 35px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#locatieInfo1 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#addPlaceForm {
  display: grid;
  grid-template-columns: 250px 20px 250px auto 120px auto;
  grid-template-rows: auto;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#addPlaceLocatieInput {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#addPlaceSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#locatieChangeDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 24px 35px 24px 35px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#locatieInfo2 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#changeLocatieForm {
  display: grid;
  grid-template-columns: 250px 20px 250px auto 120px auto;
  grid-template-rows: 35px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#locatieInfo3 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#changeLocatieSelect {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changePlaceLocatieInput {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeLocatieSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#locatieRemoveDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 24px 35px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#locatieInfo4 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#removePlaceForm {
  display: grid;
  grid-template-columns: 250px 20px 250px auto 120px auto;
  grid-template-rows: 1fr;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#removeLocatieSelect {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#removePlaceSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#productDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px auto 470px 865px 150px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#productInfo {
  display: flex;
  text-align: center;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  font-family: "Segoe UI";
  font-size: 18px;
}

#productAddDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 425px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#productInfo1 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#addProductForm {
  display: grid;
  grid-template-columns: 250px 20px 250px auto 120px auto;
  grid-template-rows: repeat(7, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#addProductsNaam {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#addProductsType {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#addProductsFabriek {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

#addProductsVoorraad {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#addProductsInfoSelect {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
}

#addProductsLocatieSelect {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 12;
  grid-row-end: 13;
}

#addProductsMinimumVoorraad {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
}

#addProductsMaximumVoorraad {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 13;
}

#addProductsVerkoopprijs {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 14;
  grid-row-end: 15;
}

#addProductSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 14;
  grid-row-end: 15;
}

#productChangeDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: repeat(3, 24px 24px 24px 35px) repeat(3, 24px) 472px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeProductForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(8, 35px 24px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
}

.productChangeReadInfo {
  grid-column-start: 1;
  grid-column-end: 2;
}

#pcri_1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

#pcri_2 {
  grid-row-start: 3;
  grid-row-end: 4;
}

#pcri_3 {
  grid-row-start: 5;
  grid-row-end: 6;
}

#pcri_4 {
  grid-row-start: 7;
  grid-row-end: 8;
}

#changeProductsNaamSelect3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductsTypeSelect3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#changeProductsFabriekSelect3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

#changeProductsVestigingLocatieSelect3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

#changeProductsVoorraad {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
}

#changeProductsMinimumVoorraad {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 12;
}

#changeProductsMaximumVoorraad {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 14;
}

#changeProductsVerkoopprijs {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 16;
}

#changeProductVoorraadSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 15;
  grid-row-end: 16;
}

#productInfo2 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#productInfo3 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#productInfo4 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#productInfo5 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 15;
}

#productInfo6 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 15;
  grid-row-end: 16;
}

#productInfo7 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
}

#productInfo8 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 15;
}

#productInfo9 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 23;
  grid-row-end: 24;
}

#productInfo10 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 26;
  grid-row-end: 27;
}

#changeProductNaamForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: auto;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeProductsNaamSelect {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#changeProductsTypeSelect {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeProductsFabriekSelect {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#changeProductNaam {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductType {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductFabriek {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductNaamSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductTypeSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductFabriekSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeProductTypeForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: auto;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeProductsNaamSelect2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#changeProductsTypeSelect2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeProductsFabriekSelect2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#changeProductsLocatieSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeProductsLocatieSelect2 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeProductSubmit2 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 7;
}

#changeProductFabriekForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: auto;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 13;
}

#productRemoveDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 24px 35px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#productInfo11 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#removeProductForm {
  display: grid;
  grid-template-columns: 160px 20px 160px 20px 160px auto 120px auto;
  grid-template-rows: auto;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#removeProductsNaamSelect {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#removeProductsTypeSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#removeProductsFabriekSelect {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#removeProductSubmit {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

#medewerkerDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px auto 350px 1540px 250px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#medewerkerInfo {
  display: flex;
  text-align: center;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  font-family: "Segoe UI";
  font-size: 18px;
}

#medewerkerAddDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 24px 300px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#medewerkerInfo1 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#medewerkerInfo2 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#medewerkerInfo3 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#medewerkerInfo4 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}

#medewerkerInfo5 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 15;
}

#medewerkerInfo6 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 18;
  grid-row-end: 19;
}

#addMedewerkerForm {
  display: grid;
  grid-template-columns: 350px 170px auto 120px auto;
  grid-template-rows: repeat(5, 35px 24px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#addMedewerkersVoornaam {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#addMedewerkersTussenvoegsel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#addMedewerkersAchternaam {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#addMedewerkersWachtwoord {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#addMedewerkersRolSelect {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}

#addMedewerkerSubmit {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10;
}

#medewerkerChangeDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: repeat(5, 24px 24px 24px 236px);

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#changeMedewerkerVoornaamForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(4, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#changeMedewerkerTussenvoegselForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(4, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

#changeMedewerkerAchternaamForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(4, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
}

#changeMedewerkerRolForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(4, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 15;
  grid-row-end: 16;
}

#changeMedewerkerWachtwoordForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(4, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 19;
  grid-row-end: 20;
}

.changeMedewerkerVoornaamSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.changeMedewerkerTussenvoegselSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.changeMedewerkerAchternaamSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

#changeMedewerkersVoornaam {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkersTussenvoegsel {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkersAchternaam {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkerVoornaamSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

#readRol {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkerRolSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkerTussenvoegselSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkerAchternaamSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

.readVoornaam {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.readTussenvoegsel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.readAchternaam {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#changePassword {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#changeMedewerkerSubmit3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

#medewerkerRemoveDiv {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 24px 24px 220px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#medewerkerInfo7 {
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.medewerkerSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

#removeMedewerkerForm {
  display: grid;
  grid-template-columns: 200px 20px 300px auto 120px auto;
  grid-template-rows: repeat(3, 24px 35px);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#removeMedewerkerVoornaamSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#removeMedewerkerTussenvoegselSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#removeMedewerkerAchternaamSelect {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

#removeMedewerkerSubmit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}

#lastDiv_overzichtVenster {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

#overzichtForm {
  display: grid;
  grid-template-columns: auto 250px auto;
  grid-template-rows: 50px 35px 50px;
}

#overzichtVenster {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
