html, body {
  overflow: auto;
}

body {
  margin: 0px;
}

#yellow_bg {
  display: block;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: #EEE8AA;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 1px #00000066;
  min-width: 1400px;
}

#logoDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#logo {
  max-height: 87px;
}

#tfeDiv {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
}

#tfeText {
  color: blue;
  font-size: 60px;
  font-family: "Segoe UI";
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#naamDiv {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

form {
  display: grid;
  grid-template-columns: 10px 100px 287px auto 10px;
  grid-template-rows: 15px 2px 25px 40px 20px 2px 20px 40px;

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#line1 {
  height: 0px;
  border: 1px solid #707070;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#line2 {
  height: 0px;
  border: 1px solid #707070;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#line3 {
  width: 0px;
  border: 1px solid #707070;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
}

#line4 {
  width: 0px;
  border: 1px solid #707070;

  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 7;
}

#line5 {
  height: 0px;
  border: 1px solid #707070;

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
}

#kiesTxt {
  font-family: "Segoe UI";
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#locatieSelect {
  font-family: "Segoe UI";
  font-size: 25px;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#submitDiv {
  display: grid;
  grid-template-columns: auto 50px 150px 50px 50px 150px 50px 50px 150px 50px auto;
  grid-template-rows: auto;

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

#overzicht {
  display: grid;
  grid-template-columns: auto 1350px auto;
  grid-template-rows: 20px 20px 40px 70px;

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

#locatieTxt {
    font-family: "Segoe UI";
    font-size: 25px;
    text-align: center;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#table {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.textStyleBold {
  font-family: "Segoe UI";
  text-align: center;
  font-weight: bold;
  font-size: 25px;

  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #D3D3D3;
}

.textStyle {
  font-family: "Segoe UI";
  text-align: center;
  font-weight: bold;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #D3D3D3;
}
