html, body {
  overflow: auto;
}

body {
  margin: 0px;
}

#yellow_bg {
  display: block;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: #EEE8AA;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 1px #00000066;
  min-width: 1000px;
}

#grid {
  display: grid;
  grid-template-columns: 10px 2fr 9fr 3fr 10px;
  grid-template-rows: 10px 100px 100px 100px;
}

#logoDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#logo {
  max-height: 87px;
}

#tfeDiv {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
}

#tfeText {
  color: blue;
  font-size: 60px;
  font-family: "Segoe UI";
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#naamDiv {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

form {
  display: grid;
  grid-template-columns: 10px 2fr 9fr 3fr 10px;
  grid-template-rows: 50px 50px;

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#naamLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#naamInput {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#wachtwoordLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#wachtwoordInput {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#inlogSubmit {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
