html, body {
  overflow: auto;
}

body {
  margin: 0px;
}

#yellow_bg {
  display: block;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: #EEE8AA;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 1px #00000066;
  min-width: 1000px;
}

#grid {
  display: grid;
  grid-template-columns: 10px 2fr 9fr 3fr 10px;
  grid-template-rows: 10px 100px 30px 160px 100px 100px;
}

#logoDiv {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#logo {
  max-height: 87px;
}

#tfeDiv {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
}

#tfeText {
  color: blue;
  font-size: 60px;
  font-family: "Segoe UI";
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#naamDiv {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

/**
  column:
  10px from the begin left side.
  1px for the border (left-top side).
  80px border, left side of the span text "Kies een locatie en een product".

  //250px for the span text "Kies een locatie en een product".
  150px for span text.
  100px for locatie select options
  50px for empty space between the 2 select options
  100px for address select options.
  50px for empty space between the 2 select options
  100px for product select options.

  auto for the right side of the span text "Kies een locatie en een product".
  1px for the border (top-right side).
  10px from the end right side.

  rows:
  9px for the span text "Kies een locatie en een product".
  1px for the top border line.
  20px for the line and in between the lines are empty spaces.
  60px for the line too and in between are selects from the form html.
  1px for the bottom border line.
  100px for the last 2 submit buttons.

*/
form {
  display: grid;
  grid-template-columns: 10px 1px 80px 150px 100px 50px 100px 50px 100px auto 1px 10px;
  grid-template-rows: 9px 1px 20px 30px 20px 1px 20px 30px;

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#line1 {
  height: 0px;
  border: 1px solid #707070;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#line2 {
  height: 0px;
  border: 1px solid #707070;

  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
}

#line3 {
  width: 0px;
  border: 1px solid #707070;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
}

#line4 {
  width: 0px;
  border: 1px solid #707070;

  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 7;
}

#line5 {
  height: 0px;
  border: 1px solid #707070;

  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 8;
}

#kiesTxt {
  font-family: "Segoe UI";
  margin-left: auto;
  margin-right: auto;

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#locatieSelect {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#addressSelect {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

#productSelect {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}

#verzendSubmit {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
}

#uitlogSubmit {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 9;
}
